@using ASPdotnetMVCHydraSim.Domain.Components
<link href="~/css/Simulation.css" rel="stylesheet" />

<form method="post" action="/Simulation/Reset">
    <input type="hidden" name="id" value="@ViewBag.SimulationId" />
    <button type="submit">Reset</button>
</form>

<div class="simulation">
    @foreach (var component in Model)
    {
        var style = $"grid-row:{component.CX};grid-column:{component.CY};";

        <div class="component @component.GetName()" id="@component.ComponentId" style="@style">
            @if (component is Pipe pipe)
            {
                var color = pipe.GetPipeColor((int)ViewBag.MaxPressure);

                <div style="background-color:@color;width:100%;height:100%;transform:rotate(@(pipe.Rotation)deg);"></div>
            }
            else
            {
                <div class="label">@component.GetValue()</div>
            }
        </div>
    }
</div>

<script>
    function attachResistanceHandlers() {
        document.querySelectorAll(".Resistance").forEach(comp => {
            comp.addEventListener("click", function () {
                const id = comp.id;
                const newValue = prompt(`Nieuwe weerstand voor component ${id}:`);
                if (newValue === null) return;

                fetch(`/Simulation/UpdateResistancePressureDrop?simulationId=@ViewBag.SimulationId&componentId=${id}&newPressureDrop=${newValue}`, {
                    method: "POST",
                })
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, "text/html");

                    const newSimulation = doc.querySelector(".simulation");
                    document.querySelector(".simulation").innerHTML = newSimulation.innerHTML;

                    attachResistanceHandlers();
                });
            });
        });
    }

    // eerste keer
    attachResistanceHandlers();


</script>